@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Manrope';
  src: url('./assets/Manrope.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Manrope';
  src: url('./assets/Manrope-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

* {
  font-family: 'Manrope', Arial, Helvetica, sans-serif;
}

.app {
    display: grid; 
    grid-template-columns: 2fr 1fr; 
    grid-template-rows: min-content 1fr min-content; 
    gap: 0.5rem 0.5rem; 
    grid-template-areas: 
      "search search"
      "playlist downloads"
      "player player"; 
}
  
.search { grid-area: search; }

.playlist { grid-area: playlist; }

.downloads { grid-area: downloads; }

.player { grid-area: player; }

